* {
  background-color: salmon;
  font-family: 'Bungee', cursive;
  text-align: center;
}

body {
  padding: 10%;
}

img {
  width: 25%;
}

button {
    width: 15%;
    margin: 10px;
    font-size: 40px;
    background-color: #DBDBDB;
}

button:hover {
  background-color: #9B9B9B;
}
